.todo-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 15px  5px 5px 5px;
    margin: 10px;
}

.new-todo-button {
    font-size: 1.25em;
    height: 50px;
    width: 150px;
    margin: 5px;
}