.todo {
    width: 95%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    font-size: 2em;
    
}

.task-name {
    margin-left: 25px;
}

.task-completed {
    margin-right: 25px; 
    
}

.task-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-button {
    font-size: 0.75em;
    margin-right: 25px;
}