.navbar {
    background-color: green;
    display: flex;
    align-items: center;
}

.navbar-title {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: -4px 4px 0 #000, 4px 4px 0 #000, 4px -4px 0 #000, -4px -4px 0 #000;
    margin: 15px 15px 15px 45px;
}